
<a routerLink="/home" routerLinkActive="the-chosen-one">Home</a> |

<a routerLink="/register" routerLinkActive="the-chosen-one">Register</a> |

<a routerLink="/login" routerLinkActive="the-chosen-one">Login</a> |

<a routerLink="/contact-us" routerLinkActive="the-chosen-one">Contact</a> |

<a routerLink="/feedbacks" routerLinkActive="the-chosen-one">Feedbacks</a> |

<a routerLink="/game" routerLinkActive="the-chosen-one">Game</a> |

<a routerLink="/game-results" routerLinkActive="the-chosen-one">Game Results</a> |

<a routerLink="/feedback" routerLinkActive="the-chosen-one">Add Feedback</a> |

<a routerLink="/about-me" routerLinkActive="the-chosen-one">About Me</a> |




